@font-face {
  font-family: 'Public Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/public-sans:vf@5.2.7/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

body {
  font-family: Public Sans Variable, Arial, Helvetica, sans;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(136, 136, 136, .3) transparent;
}

section {
  background: radial-gradient(circle farthest-corner at center, #427f82, #196463, #08615b, #012422);
}