* {
    box-sizing: border-box;
}

:root {
    font-size: 14px;
    background: #012422;
    color: #F3F5F7;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header, section, footer, nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

header, section, footer {
    height: 2rem;
    width: 100vw;

    margin: 0 auto;
    padding-left: 16vw;
    padding-right: 16vw;

    flex-direction: column;
}

section {
    height: calc(100vh - 2rem);
    background-color: #012422;
}

h1, p, sub {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

nav a {
    color: #F3F5F7;
    text-decoration: none;
    font-weight: bold;
}

nav a:not(:last-child)::after {
    content: " - ";
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

img {
    height: 128px;
    width: 128px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    header, section, footer {
        padding-left: 12vw;
        padding-right: 12vw;
    }
}

@media screen and (max-width: 900px) {
    header, section, footer {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
